/* 01_color del Fondo de la pagina web */
html {
  background-color: #29bac2;
}
/*02_diseño de la barra de formulario*/
/*a)boton_subir_sugerencia*/
input[type=button], input[type=submit], input[type=reset]  {

  /*color del boton subir sugerencia*/
  background-color: #00871d;
  border: solid;
  color: white;
  /*tamaño del boton subir sugerencia*/
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  /*Coordenada del boton subir sugerencia*/
  margin:10px 10px 10px  575px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*b)color del boton al apuntar "subir sugerencia"*/
input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: blue;
}
/*c)boton*/
input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
/*d)tipo_texto*/
input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  /*tamaño de las barras de completar texto*/
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*coordenada de los cuadrados de completar formulario*/
  margin: 10px 10px 10px 100px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
/*e)tipo_de_texto_dos*/
input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}
/*f)estilo_de_enlase*/
input[type=text]:placeholder {
  color: #cccccc;
}

/*03_estructura de la pagina*/

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  /*Aún no sé.*/
  padding:  0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

/*04_diseño del titulo de top y foot*/
 .box2{
margin:20px;
 background-color: #f6f6f6;
  border-top: 5px solid #1f76b8;
  border-bottom: 5px solid #1f76b8;
  border-right:5px solid #1f76b8;
  border-left:5px solid #1f76b8;
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 10px 10px 10px 10px;
  }


  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 10px 10px 10px 10px;
}
/*05_Estilo de los botones con frases*/
.btn-group .button {
  background-color: #00871d; /* Green */
  border: center;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  margin: 10px 10px 10px 100px;
}

/*07_Estilo del boton ver sugerencias*/
.botonA{
font-family : Arial;
 border: center;
font-size: 30 px;
background-color: #00871d; /* Green */
  border: center;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}


/*08_diseño del segundo intento de la tabla*/

h1{
  font-size: 40px;
  color: black;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{

}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:300px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;

}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

/* demo styles */

body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: sans-serif;
}
section{
  margin: 50px;
}

/* follow me template */
.made-with-love {
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
}
.made-with-love i {
  font-style: normal;
  color: #F50057;
  font-size: 14px;
  position: relative;
  top: 2px;
}
.made-with-love a {
  color: #fff;
  text-decoration: none;
}
.made-with-love a:hover {
  text-decoration: underline;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}



/*10_ocultar*/
.ocultar{
display:none;
}

/*11_mostrar*/
.mostrar{
display: block;
margin:5px;
overflow:hidden;
max-height:0 px;
transition:max-height 0.2s;
padding:15px;
font-family:sans-serif;
background:#2ca0c9;
}

/*12_Estilo de boton */
.btnToggle{
margin:5px;
display:block;
width:200px;
padding:15px;
border:none;
outline:none;
cursor:pointer;
background:#333333;
color:white;
text-align:left;
transition:background 0.2s;
}
.btnToggle::after{
content:'\25be' ;
float:right;
}
